{% extends 'layout.html' %}

{% block content %}

    <fieldset class="login-form m-4">
        <form method="POST" action="{{ url_for('login') }}" class="m-5">
            {{ form.hidden_tag() }}
            <legend class="fs-5 border-bottom w-75"> Login </legend>
                
            <ul>
                {{ form.userID.label(class="form-text") }}
                {{ form.userID(class="form-control form-control-lg mt-1 w-75") }}
            </ul>

            <ul>
                {{ form.password.label(class="form-text") }}
                {{ form.password(class="form-control form-control-lg mt-1 w-75") }}
            </ul>
                
            <div class="form-submit">
                {{ form.submit(class="btn btn-outline-info m-2 bg-white") }}
            </div>
        </form>
    </fieldset>

{% endblock %}
